<div class="container" style="width: 80%">
    <div class="d-flex justify-content-between mb-3">
        <button (click)="navigateToContactList()" class="btn btn-primary">Retour à la liste des contacts</button>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <h4 class="mb-4 text-muted">Contacter {{contact?.title}}</h4>
    </div>

    <div class="col-md-6 mx-auto">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"
            class="p-4 border rounded shadow-sm bg-light d-flex flex-column">
            <div class="mb-3">
                <label for="email" class="form-label">Email : </label>
                <input type="email" id="email" placeholder="Email du contact" formControlName="email"
                    class="form-control" [readOnly]="true">
            </div>
            <div class="mb-3">
                <label for="contentObjet" class="form-label">Objet : </label>
                <input type="text" id="objet" placeholder="Objet du mail" formControlName="objet" class="form-control">
            </div>
            <div *ngIf="contactForm.get('objet')?.invalid && contactForm.get('objet')?.touched">
                <p *ngIf="contactForm.get('objet')?.errors?.['required']">le contenu du message est
                    requis.</p>
            </div>
            <div class="mb-3">
                <label for="contentEmail" class="form-label">Contenu : </label>
                <textarea name="contentEmail" id="contentEmail" placeholder="Ecrivez votre message ..."
                    formControlName="contentEmail" class="form-control" rows="3"></textarea>
            </div>
            <div *ngIf="contactForm.get('contentEmail')?.invalid && contactForm.get('contentEmail')?.touched">
                <p *ngIf="contactForm.get('contentEmail')?.errors?.['required']">le contenu du message est
                    requis.</p>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success w-20 p-2 mx-auto"
                    [disabled]="contactForm.invalid">Envoyer</button>
            </div>
        </form>
    </div>
</div>