<div class="container" style="width: 80%">
  <div class="d-flex justify-content-between mb-3">
    <h2 class="mb-4 text-muted">Liste des contacts</h2>

    <div>
      <button (click)="openAddContactModal()" class="btn btn-success me-2">
        Ajouter un contact
      </button>
      <button (click)="logout()" class="btn btn-primary">Deconnexion</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" (click)="toggleSort('category_id')">Catégorie</th>
        <th scope="col" (click)="toggleSort('title')">Prénom/Dénomination</th>
        <th scope="col" (click)="toggleSort('email')">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="contacts.length > 0; else emptyContactList">
      <tr
        *ngFor="
          let contact of contacts | sortContacts : sortColumn : sortAscending
        "
        class="align-middle"
      >
        <td>{{ contact.category.category_name }}</td>
        <td>
          {{ contact.title }}
        </td>
        <td>{{ contact.email }}</td>
        <td>
          <button class="btn btn-primary me-3">
            <div style="display: flex; justify-content: center">
              <mat-icon>edit</mat-icon>
            </div>
          </button>
          <button
            class="btn btn-danger"
            [appDeleteContact]="contact.id"
            (contactDeleted)="onContactDeleted()"
          >
            <div style="display: flex; justify-content: center">
              <mat-icon>delete</mat-icon>
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyContactList>
    <p class="text-center">Votre liste de contact est vide ...</p>
  </ng-template>
</div>
