<form
  [formGroup]="subscribeForm"
  (ngSubmit)="addUser()"
  class="container mt-5 p-4 border rounded shadow-sm bg-light"
  style="min-width: 400px"
>
  <div class="mb-3">
    <label for="username" class="form-label fw-bold">Nom:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      required
      class="form-control"
      [ngClass]="{
        'is-invalid':
          subscribeForm.get('username')?.invalid &&
          subscribeForm.get('username')?.touched,
        'is-valid':
          subscribeForm.get('username')?.valid &&
          subscribeForm.get('username')?.touched
      }"
    />
    <div
      *ngIf="
        subscribeForm.get('username')?.invalid &&
        subscribeForm.get('username')?.touched
      "
      class="text-danger"
    >
      <div class="mt-1" *ngIf="subscribeForm.get('username')?.errors?.['required']">
        Le nom est requis.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label fw-bold">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      required
      class="form-control"
      [ngClass]="{
        'is-invalid':
          subscribeForm.get('email')?.invalid &&
          subscribeForm.get('email')?.touched,
        'is-valid':
          subscribeForm.get('email')?.valid &&
          subscribeForm.get('email')?.touched
      }"
    />
    <div
      *ngIf="
        subscribeForm.get('email')?.invalid &&
        subscribeForm.get('email')?.touched
      "
      class="text-danger"
    >
      <div class="mt-1" *ngIf="subscribeForm.get('email')?.errors?.['required']">
        L'email est requis.
      </div>
      <div class="mt-1" *ngIf="subscribeForm.get('email')?.errors?.['email']">
        L'email n'est pas valide.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label fw-bold">Mot de passe:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      required
      class="form-control"
      [ngClass]="{
        'is-invalid':
          subscribeForm.get('password')?.invalid &&
          subscribeForm.get('password')?.touched,
        'is-valid':
          subscribeForm.get('password')?.valid &&
          subscribeForm.get('password')?.touched
      }"
    />
    <div
      *ngIf="
        subscribeForm.get('password')?.invalid &&
        subscribeForm.get('password')?.touched
      "
      class="text-danger"
    >
      <div class="mt-1" *ngIf="subscribeForm.get('password')?.errors?.['required']">
        Le mot de passe est requis.
      </div>
    </div>
  </div>

  <div class="mt-1" class="mb-3">
    <label for="confirm-password" class="form-label fw-bold"
      >Confirmer Mot de passe:</label
    >
    <input
      type="password"
      id="confirm-password"
      formControlName="confirmPassword"
      required
      class="form-control"
      [ngClass]="{
        'is-invalid':
          subscribeForm.get('confirmPassword')?.invalid &&
          subscribeForm.get('confirmPassword')?.touched,
        'is-valid':
          subscribeForm.get('confirmPassword')?.valid &&
          subscribeForm.get('confirmPassword')?.touched
      }"
    />
    <div
      *ngIf="
        subscribeForm.get('confirmPassword')?.invalid &&
        subscribeForm.get('confirmPassword')?.touched
      "
      class="text-danger"
    >
      <div class="mt-1" *ngIf="subscribeForm.get('confirmPassword')?.errors?.['required']">
        La confirmation du mot de passe est requise.
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <app-button type="submit" label="S'inscrire" class="btn btn-primary w-100"></app-button>
</form>
