<div class="container" style="width: 80%">
  <div class="d-flex justify-content-between mb-3">
    <h1>Bienvenue, {{ username }}</h1>
    <button (click)="logout()" class="btn btn-primary">Deconnexion</button>
  </div>

  <h5 class="mb-4 text-muted">Liste des contacts</h5>

  <div class="row" *ngIf="contacts.length > 0; else emptyContactList">
    <div *ngFor="let contact of contacts">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title text-center text-primary">{{ contact.category.category_name }}</h6>
          <ul class="list-unstyled">
            <li class="mb-2" *ngIf="contact.category.category_name !== 'Partenaires'">Prénom : {{ contact.title }}
            </li>
            <li class="mb-2" *ngIf="contact.category.category_name === 'Partenaires'">Dénomination : {{ contact.title }}
            </li>
            <li class="mb-2">Email : {{ contact.email }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyContactList>
    <p>Votre liste de contact est vide ...</p>
  </ng-template>

</div>